
body{background-color: #f6f6f6;}
.header {
  background: #fff none repeat scroll 0 0;
  height: 50px;
  margin: 0;
  padding: 5px;
}
.logo {height: 100%;}
.logo img{max-height: 100%;}
.featured-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.h1-container {
  background-color: #DB5B43;
  margin: 0 auto;
  padding: 10px 0;
}
.featured-image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  padding: 100px;
}
h1 {
  color: #fff;
  text-align: center;
}
.h1-container > h2 {
  color: #fff;
  font-size: 0.9em;
  text-align: center;
}

.h1-container > h2::before, .h1-container > h2::after {
  content: "=========";
  margin: 0 9px;
}
.article-list {
  width: 25em;
  float: left;
}
.other-links{
  float: left;
  width: 10em;
}
.draft {
    background-color: green;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
}
@media screen and (max-width: 700px){
  .article-list {
    width: 100%;
    float: none
  }
  .other-links{
    width: 100%;
    float: none;
  }
}
